annotated-types==0.7.0
catboost==1.2.7
certifi==2025.1.31
debugpy==1.8.12
idna==3.10
ImageHash==4.3.1
ipykernel==6.29.5
ipython==8.32.0
joblib==1.4.2
lightgbm==4.5.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.3
plotly==6.0.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sidetable==0.9.1
statsmodels==0.14.4
xgboost==2.1.4